

.box1 {
    color: #777777;
    padding-top: 15px;
    padding-left:  3px;
}
.box2 {
    color: #001AFF; 
    text-align: center;
    padding-top: 205px;
}
.box3 {
    color: #FF0000;
    padding-top: 265px;
    padding-left: 72px;
}
